In [22]:
import pandas as pd
import heapq

In [12]:
data = pd.read_table("data/day1", header=None, skip_blank_lines=False)

In [14]:
data

            0
0     17998.0
1      7761.0
2         NaN
3      5628.0
4      1490.0
...       ...
2232  12828.0
2233   2639.0
2234  10883.0
2235  10054.0
2236  13688.0

[2237 rows x 1 columns]

In [26]:
top3_calorie = [0, 0, 0]
current_calorie = 0

for calorie in data[0]:
    if(pd.isna(calorie)):
        if (current_calorie>heapq.nsmallest(1, top3_calorie)[0]):
            heapq.heapreplace(top3_calorie, current_calorie)
        current_calorie = 0
    else:    
        current_calorie += calorie
        
print(sum(top3_calorie))

200158.0