In [22]:
import pandas as pd

In [39]:
data = pd.read_csv("data/day2.txt", sep=" ", header=None, names=["opponent", "me"])
data

     opponent me
0           C  Y
1           C  Y
2           C  Y
3           B  Z
4           C  Y
...       ... ..
2495        A  X
2496        C  Y
2497        C  X
2498        A  Y
2499        A  X

[2500 rows x 2 columns]

In [60]:
GAME_RULE_SCORE = {
    "AX" : 3,
    "AY" : 6,
    "AZ" : 0,
    "BX" : 0,
    "BY" : 3,
    "BZ" : 6,
    "CX" : 6,
    "CY" : 0,
    "CZ" : 3,
}
DRAW_SCORE = {"X": 1, "Y": 2, "Z": 3}

In [61]:
def getRoundScore(opp, me):
    gameRuleScore = GAME_RULE_SCORE[opp + me]
    drawScore = DRAW_SCORE[me]
    
    return gameRuleScore + drawScore

In [62]:
data.apply(lambda row: getRoundScore(row.opponent, row.me), axis=1).agg(sum)

9177